<%- include('partials/header.ejs', { title: title }); %>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main class="relative">
      <%- include('partials/sidebar.ejs'); %>
      <div class="w-4/5 absolute top-1/2 left-1/2 -translate-x-1/2 p-20 -translate-y-1/2">
        <% if (url === '/dashboard') { %>
          <%- include('fragments/mailer.ejs'); %>
        <% } else if (action === 'contacts') { %>
          <%- include('fragments/contacts.ejs'); %>
        <% } else if (action === 'reports') { %>
          <%- include('fragments/reports.ejs', { reports: reports }); %>
          <script src='js/dashboard-reports.js'></script>
        <% } %>
      </div>
    </main>
</body>
</html>
