<%- include('partials/header.ejs', { title: title }); %>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main class="relative">
      <%- include('partials/sidebar.ejs'); %>
      <div id="message-renderer" class="my-4 mx-auto z-100 transition ease-out duration-300"></div>
      <div class="w-4/5 absolute top-1/2 left-1/2 -translate-x-1/2 p-20 -translate-y-1/2">
        <% if (url === '/dashboard') { %>
          <%- include('fragments/mailer.ejs'); %>
        <% } else if (action === 'contacts') { %>
          <%- include('fragments/contacts.ejs'); %>
        <% }  %>
      </div>
    </main>
    <% if (isAuthenticated()) { %>
      <script src="js/logout.js"></script>
    <% } %>
</body>
</html>
