<%- include('../partials/header.ejs', { title: title }); %>
  <body>
    <%- include('../partials/navbar.ejs'); %>
    <main>
      <section>
        <form id="login-form">
          <%- include('../partials/input.ejs', { id: "", type: "", placeholder: "", required: true }) %>
          <%- include('../partials/input.ejs', { id: "", type: "", placeholder: "", required: true }) %>
          <%- include('../partials/input.ejs', { id: "", type: "", placeholder: "", required: true }) %>
          <%- include('../partials/input.ejs', { id: "", type: "", placeholder: "", required: true }) %>
        </form>
      </section>
    </main>
  </body>
</html>
